name: release

on:
  push:
    tags:
    - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

jobs:
  build:
    name: Release to Maven and GitHub
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ github.token }}
    steps:
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - run: |
          sudo gem install fontist
          fontist update
          fontist manifest-install --confirm-license .github/mscorefonts.yml

      - uses: actions/checkout@master

      - run: make all

      - run: make test

      - name: Deploy to Maven
        env:
          # for deploy mn2pdf
          GITHUB_PUBLISH_TOKEN: ${{ secrets.METANORMA_CI_PAT_TOKEN }}
          GITHUB_PUBLISH_USERNAME: metanorma-ci
        run: |
          make deploy

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body: |
            Automatic release of ${{ github.ref }}
          draft: false
          prerelease: false

      - name: Get Version
        id: get_version
        run: |
          echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\/v/}

      - name: Upload Release Asset
        id: upload-release-asset
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./target/mn2pdf-${{ steps.get_version.outputs.VERSION }}.jar
          asset_name: mn2pdf-${{ steps.get_version.outputs.VERSION }}.jar
          asset_content_type: application/java-archive

#      - name: Notify mn2pdf-ruby
#        uses: peter-evans/repository-dispatch@v1
#        with:
#          token: ${{ secrets.METANORMA_CI_PAT_TOKEN }}
#          repository: metanorma/mn2pdf-ruby
#          event-type: metanorma/mn2pdf
#          client-payload: '{ "ref": "${{ github.ref }}" }'
